{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<h1>Inscription</h1>


	{{ form_start(registrationForm) }}


	{{ form_errors(registrationForm) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
	{{ form_row(registrationForm.agreeTerms) }}

	{# <label for="inputEmail">Email</label>
	<input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus><br>
	<label for="inputPassword">Mot de passe</label>
	<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required><br> #}
	<button type="submit" class="btn btn-primary">Inscription</button>
	{{ form_end(registrationForm) }}
{% endblock %}
